---
grails:
  config:
    locations:
      - classpath:myconfig.groovy
      - classpath:myconfig.yml
      - classpath:myconfig.properties

---
grails:
  profile: web
  codegen:
    defaultPackage: org.munaylab
  spring:
    transactionManagement:
      proxies: false
  gorm:
    reactor:
      # Whether to translate GORM events into Reactor events
      # Disabled by default for performance reasons
      events: false
info:
  app:
    name: '@info.app.name@'
    version: '@info.app.version@'
    grailsVersion: '@info.app.grailsVersion@'
spring:
  main:
    banner-mode: "off"
  groovy:
    template:
      check-template-location: false

# Spring Actuator Endpoints are Disabled by Default
endpoints:
  enabled: false
  jmx:
    enabled: true

---
grails:
  mime:
    disable:
      accept:
        header:
          userAgents:
            - Gecko
            - WebKit
            - Presto
            - Trident
    types:
      all: '*/*'
      atom: application/atom+xml
      css: text/css
      csv: text/csv
      form: application/x-www-form-urlencoded
      html:
        - text/html
        - application/xhtml+xml
      js: text/javascript
      json:
        - application/json
        - text/json
      multipartForm: multipart/form-data
      pdf: application/pdf
      rss: application/rss+xml
      text: text/plain
      hal:
        - application/hal+json
        - application/hal+xml
      xml:
        - text/xml
        - application/xml
    urlmapping:
      cache:
        maxsize: 1000
    controllers:
      defaultScope: singleton
    converters:
      encoding: UTF-8
    views:
      default:
        codec: html
      gsp:
        encoding: UTF-8
        htmlcodec: xml
        codecs:
          expression: html
          scriptlets: html
          taglib: none
          staticparts: none
endpoints:
  jmx:
    unique-names: true

---
hibernate:
  cache:
    queries: false
    use_second_level_cache: false
    use_query_cache: false
dataSource:
  pooled: true
  jmxExport: true
  driverClassName: org.h2.Driver
  username: sa
  password: ''

environments:
  development:
    dataSource:
      dbCreate: create-drop
      url: jdbc:h2:mem:devDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
  test:
    dataSource:
      dbCreate: create-drop
      url: jdbc:h2:mem:testDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
  production:
    dataSource:
      dbCreate: none
      url: jdbc:h2:./prodDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
      properties:
        jmxEnabled: true
        initialSize: 5
        maxActive: 50
        minIdle: 5
        maxIdle: 25
        maxWait: 10000
        maxAge: 600000
        timeBetweenEvictionRunsMillis: 5000
        minEvictableIdleTimeMillis: 60000
        validationQuery: SELECT 1
        validationQueryTimeout: 3
        validationInterval: 15000
        testOnBorrow: true
        testWhileIdle: true
        testOnReturn: false
        jdbcInterceptors: ConnectionState
        defaultTransactionIsolation: 2 # TRANSACTION_READ_COMMITTED

---
grails:
  plugin:
    springsecurity:
      userLookup.userDomainClassName: 'org.munaylab.user.User'
      userLookup.authorityJoinClassName: 'org.munaylab.security.UserRole'
      authority.className: 'org.munaylab.security.Role'
      controllerAnnotations.staticRules:
        - pattern: '/'
          access: ['permitAll']
        - pattern: '/error'
          access: ['permitAll']
        - pattern: '/index'
          access: ['permitAll']
        - pattern: '/shutdown'
          access: ['permitAll']

        - pattern: '/assets/**'
          access: ['permitAll']
        - pattern: '/**/js/**'
          access: ['permitAll']
        - pattern: '/**/css/**'
          access: ['permitAll']
        - pattern: '/**/images/**'
          access: ['permitAll']
        - pattern: '/**/favicon.ico'
          access: ['permitAll']

        - pattern: '/admin/**'
          access: ['permitAll']
        - pattern: '/org/**'
          access: ['permitAll']
      filterChain.chainMap:
        - pattern: '/assets/**'
          filters: 'none'
        - pattern: '/**/js/**'
          filters: 'none'
        - pattern: '/**/css/**'
          filters: 'none'
        - pattern: '/**/images/**'
          filters: 'none'
        - pattern: '/**/favicon.ico'
          filters: 'none'
        - pattern: '/**'
          filters: 'JOINED_FILTERS'

---
grails:
  mail:
    host: 'smtp.gmail.com'
    port: 465
    username: 'mcaligares.test1@gmail.com'
    password: 'test1.mcaligares'
    props:
      mail.smtp.auth: 'true'
      mail.smtp.socketFactory.port: '465'
      mail.smtp.socketFactory.class: 'javax.net.ssl.SSLSocketFactory'
      mail.smtp.socketFactory.fallback: 'false'
---
gamification:
  eventos:
    perfil:
      nombre: 'EVENTO_PERFIL_COMPLETADO'
      puntos: 10
    programa:
      nombre: 'EVENTO_PROGRAMA_PUBLICADO'
      puntos: 3
    proyecto:
      nombre: 'EVENTO_PROYECTO_PUBLICADO'
      puntos: 2
    actividad:
      nombre: 'EVENTO_ACTIVIDAD_PUBLICADA'
      puntos: 1
    evento:
      nombre: 'EVENTO_EVENTO_PUBLICADO'
      puntos: 2
